<aside id="nav-drawer">
  <input
    type="checkbox"
    id="nav-toggle"
    checked
    onchange="toggleHandler(this)"
  />
  <label for="nav-toggle">
    <div></div>
    <div></div>
    <div></div>
  </label>
  <div class="hidden">
    <div class="color-theme-toggle">
      <input type="checkbox" id="theme-toggle" onchange="themeHandler(this)" />
      <span class="ml-2">Color</span>
    </div>
    <div class="page-title flex-y center">
      <div class="profile rounded">
        <a href="/">
          <img src="/assets/img/me.png" />
        </a>
      </div>
      <h1 class="mt-8">PSY WORLD</h1>
    </div>
    <nav class="flex-y gap-8 p-12">
      {% assign sorted_pages = site.pages | sort:"order" %} {% for page in
      sorted_pages %} {% if page.display %}
      <a href="{{page.permalink}}">{{page.title}}</a>
      {% endif %} {% endfor %}
    </nav>
  </div>
</aside>
