#app-bar {
  height: 56px;
  border-bottom: 1px solid var(--color-border);
  opacity: 0;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

// nav-drawer
#nav-drawer {
  width: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:has(#nav-toggle:checked) {
    width: 256px;
    border-right: 1px solid var(--color-border);

    & ~ main {
      width: calc(100vw - 256px);
    }

    & ~ footer {
      width: 256px;
      opacity: 1;
    }
  }

  label[for='nav-toggle'] {
    z-index: 100;
    position: fixed;
    left: 0;
    padding: 16px;
    width: 40px;
    height: 40px;

    div {
      width: 24px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--color-toggle);
    }

    div + div {
      margin-top: 6px;
    }
  }

  .page-title {
    height: 240px;
    padding: 24px 0;
  }

  .profile.rounded {
    width: 160px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100%;

    img {
      width: 100%;
    }
  }

  nav {
    a {
      text-transform: uppercase;
    }
  }
}

#nav-toggle {
  display: none;

  &:checked {
    & ~ label[for='nav-toggle'] {
      left: calc(256px - 56px);
    }

    & ~ .hidden {
      display: block;
      height: calc(100vh - 56px);
      padding-top: 56px;
    }
  }
  & ~ .hidden {
    display: none;
  }
}

.color-theme-toggle {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;

  display: flex;
  align-items: center;
}

#theme-toggle {
}

// main
main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

  & > aside {
    width: 256px;
    border-left: 1px solid var(--color-border);
  }

  & > div[role='document'] {
    flex: 1;
    margin: 48px;
    padding: 48px;
    border: 1px solid var(--color-border);

    position: relative;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      // background: rgba(255, 255, 255, 0.5);
      border: 4px solid transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      width: 8px;
      height: 8px;
      background: var(--color-border);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: lightcyan;
    }
  }
}

aside.categories {
  padding: 0 24px 24px;
  border-left: 1px solid var(--color-border);
}

footer {
  width: 0;
  opacity: 0;
  height: 64px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}
