:root,
:root.dark {
  --color-bg: #000;
  --color-text: #fff;
  --color-toggle: #fff;
  --color-border: #fff;
  --color-link-hover: lightblue;
  --color-link-active: cadetblue;
}

:root.light {
  --color-bg: #fff;
  --color-text: #000;
  --color-toggle: #000;
  --color-border: #000;
  --color-link-hover: lightblue;
  --color-link-active: cadetblue;
}
