<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %} {% include scripts.html %}
  </head>
  <body>
    {% include nav_drawer.html %} {% include header.html %}
    <main>
      <div role="document">
        <a href="javascript:history.back()">
          <img src="/assets/img/back.svg"
        /></a>

        {% for category in page.categories %}
        <span>{{category}}</span>
        {% endfor %} {% for tag in page.tags %}
        <span>{{tag}}</span>
        {% endfor %}

        <h1>{{page.title}}</h1>
        <div>{{page.date}}</div>
        <div>{{site.author}}</div>
        {{ content | toc_only }}
        <div class="post-content">{{ content | inject_anchors }}</div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
