<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %} {% include scripts.html %}
  </head>
  <body>
    {% include nav_drawer.html %} {% include header.html %}
    <main>
      <div role="document">
        {% include breadcrumbs.html %}
        <h1>
          <a href="javascript:history.back()" class="mr-8">
            <img src="/assets/img/back.svg" /></a
          >{{page.title}}
        </h1>
        <div>Date: {{page.date}}</div>
        <div>Author: {{site.author}}</div>
        <div>
          Tags: {% for tag in page.tags %}
          <span>{{tag}}</span>
          {% endfor %}
        </div>
        <hr class="my-8" />
        {{ content | toc_only }}
        <div class="post-content">{{ content | inject_anchors }}</div>
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
